<!-- footer -->
<footer id="footer" class="clearfix">
	<div class="footer-bottom clearfix text-center">
		<div class="container">
			<p>JobSpot - A Job Recommender <%= Date.today.year %></p>
		</div>
	</div><!-- footer-bottom -->
</footer><!-- footer -->